body {
    background-color: var(--secondary-color);
}

.header {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.logo {
    margin: 28px 36px;
}

.search {
    margin-left: 170px;
}

.search input {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
}

input:focus {
    border: 3px solid var(--tertiary-color);
    outline: none;
}

.search label {
    margin: 18px 400px;
    position: absolute;
}

.icons {
    display: flex;
    gap: 60px;
    white-space: nowrap;
    text-align: center;
    margin: 0 230px;
}

.banner {
    margin: 2px 0 20px 0;
}

#product {
    color: var(--tertiary-color);
    font-size: larger;
    letter-spacing: 1.6px;
    text-align: center;
}

#product img {
    border-radius: 70px;
    margin-top: 10px;
}

.products {
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 80px;
    text-align: center;
    color: #fda51c;
}


#produtos {

    background-size: cover;
    padding: 40px 0;
}

.container-produtos {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #fda51c;
}

.btn-primary:hover {
    background-color: #ff651c;
}

.btn-carrinho {
    background-color: #28a745;
}

.btn-carrinho:hover {
    background-color: #218838;
}

.btn {
    background-color: #fda51c;
}