@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    outline: 0;
}

.container {
    display: flex;
    justify-content: center;
    margin: 30px 0 30px 350px;
    align-items: center;
    width: 780px;
    background-color: #F7F5F5;
    border-radius: 10px;
    gap: 70px;
}

.title {
    margin-bottom: 50px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}

.input {
    position: relative;
    margin: 20px 0;
    width: 450px;
}

.input label {
    position: absolute;
    left: 0;
    bottom: 5px;
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px;
    font-size: 17px;
    background-color: #F7F5F5;
}

fieldset {
    border: 2px solid #ccc;
}

fieldset div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

fieldset legend {
    margin-bottom: 20px;
}

input~label {
    transform: translateY(-25px);
    font-size: 14px;
}

.data {
    margin-top: 30px;
}

.data label {
    margin: 10px 0;
}

button {
    height: 42px;
    background-color: rgb(24, 148, 219);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}

button:hover {
    animation: translateY 0.8s alternate infinite;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }

    to {
        transform: translateY(-2px) scale(1.05);
    }
}

#emphasis {
    text-decoration: underline;
    color: rgb(24, 148, 219);
    cursor: pointer;
}

li {
    padding: 5px;
}

.options {
    margin-left: 20px;
}
